*,g,
*::before,
*::after{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.wrapper{
    width: 68%;
    margin: auto;
    margin-top: 10px;
}

.header__logo{
    text-align: center;
    margin-bottom: 15px;
}

.header__content{
    background-image: url(../img/banners/ipad_air_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1028px;
    height: 520px;
    margin: auto;
}

.header__item{
    text-align: center;
    position: absolute;
    top: 255px;
    left: 44%;
    text-decoration: none;
}

.header__item__title{
    font-size: 72px;
    color: #fff;
    margin-bottom: 35px;
}

.header__item__button{
    padding: 15px 25px;
    font-size: 20px;
    color: #fff;
    background-color: #0E49B5;
    border: none ;
    border-radius: 5px;
}

.main__form__filters{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    border: 1px solid #DDDADA  ;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}